.boardList {
  height: auto;
  /* min-height: 5rem; */
  margin: 0 0 auto 0;

  padding: 1rem;
  padding-top: 0.5rem;
  border-radius: 10px;
}
.inputCardTitle {
  outline: none;
  color: grey;
  padding: 0 1rem;
}
