.cardPopContainer {
  position: fixed;
  background-color: black;
  height: 60vh;
  width: 40vw;
  color: silver;
  position: fixed;
  top: 10%;
  left: 10%;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.cardPopContainer input {
  color: black;
}
