#root {
  height: 100vh;
}
.sidebar {
  background: #011c67;
}
.sidebar > div.sidebarContain > ul > li {
  height: 2.8rem;
  color: white;
  margin: 0;
}
.workSpaceContainer {
  /* display: grid;
  grid-template-columns: 1.4fr 4fr; */
  display: flex;
  color: white;
  height: 100vh;
  overflow: hidden;
}
.navbarDash {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  gap: 0.1rem;
  position: fixed;
  width: 78vw;
}
.profileImg img {
  width: 35%;
  margin-top: -15%;
  border: 1px solid black;
}

.searchButton {
  height: 2.625rem;
  padding: 0rem 0.55388rem 0rem 0.46156rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 1.25rem;
  border: 2px solid #696f79;
  background: #fff;
  color: #696f79;
  width: 19%;

  text-align: center;
  font-family: Poppins;
  font-size: 0.96875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
.searchButton:hover {
  border: 2px solid white;
  background: #696f79;
  color: white;
}
.createButton {
  width: 4.98463rem;
  height: 2.625rem;

  cursor: pointer;

  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;

  width: 5.5rem;
  margin: 0.5rem;
  height: 2.625rem;
  padding: 0rem 0.55388rem 0rem 0.46156rem;

  border-radius: 1.5rem;
  border: 1px solid #000;
  background: #414547;
  color: #fff;
}
.createButton:hover {
  border: 2px solid #000;
  background: white;
  color: #414547;
}

.dropdown-button {
  color: #455a64;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 550;
  line-height: 1.5rem;
}

.sidebarLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25%;
  gap: 1rem;
  width: 25rem;
  margin: auto;
  padding-top: 1rem;
}
.sidebarLogo img {
  width: 35%;
}
.sidebarLogo h2 {
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 200;
  line-height: 120%;
  letter-spacing: -0.0375rem;
}
.sidebarContain {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  width: 90%;
  margin-top: 1rem;
}
.sidebarContain h3 {
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.sidebarContain > ul > li > div {
  display: flex;
}
#root
  > div
  > div.sidebar
  > div.sidebarContain
  > ul:nth-child(2)
  > li:nth-child(3)
  > div
  > button {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#root
  > div
  > div.sidebar
  > div.sidebarContain
  > ul:nth-child(2)
  > li:nth-child(3)
  > div {
  width: 100%;
}
#root
  > div
  > div.sidebar
  > div.sidebarContain
  > ul:nth-child(2)
  > li:nth-child(3)
  > div
  > button
  > span.arrow-icon {
  /* background-color: white; */
  border-radius: 10px;
  height: 15px;
  padding-left: 4%;
  margin-right: -1.5rem;
}

#root
  > div
  > div.sidebar
  > div.sidebarContain
  > ul:nth-child(2)
  > li:nth-child(3)
  > div
  > button
  > span:nth-child(1) {
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  background-color: red;
  margin: 0;
}
#root
  > div
  > div.sidebar
  > div.sidebarContain
  > ul:nth-child(2)
  > li:nth-child(2),
#root > div > div.sidebar > div.sidebarContain > h3:nth-child(5) {
  display: flex;
  justify-content: space-between;
}
.sidebarContain > ul h4 {
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* background-color: red; */
}

#root > div > div.sidebar > div.sidebarContain > ul:nth-child(6) > li {
  height: 1.8rem;
}

.sidebarButtonContainer {
  display: 100%;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
}
.sidebarButtonContainer > div {
  width: 90%;
  margin-left: 5%;
  padding-top: 10%;
  height: 5rem;
  border-top: 1px solid #696f79;
}
.premiumButton {
  border: none;
  width: 100%;
  cursor: pointer;
  border-radius: 0.375rem;
  height: 2.625rem;
  background: #fff;
  color: #011c67;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

#root
  > div
  > div.sidebar
  > div.sidebarContain
  > ul:nth-child(2)
  > li:nth-child(2)
  > span,
#root
  > div
  > div.sidebar
  > div.sidebarContain
  > h3:nth-child(5)
  > span:nth-child(2) {
  font-size: 2.5rem;
  font-weight: 100;
}
#root
  > div
  > div.sidebar
  > div.sidebarContain
  > h3:nth-child(5)
  > span:nth-child(2) {
  font-size: 2.5rem;
  font-weight: 100;
}

#root
  > div
  > div.sidebar
  > div.sidebarContain
  > ul:nth-child(2)
  > li:nth-child(3)
  > div
  > button
  > span.arrow-icon
  > img {
  width: 2rem;
}

.dashMain {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#root
  > div
  > div.dashMainContainer
  > div.navbarDash
  > div.profileImgContainer
  > div
  img {
  margin-top: -5%;
  margin-right: 5rem;
  height: 4rem;
  width: 4rem;
}

#root > div > div.dashMainContainer > div.dashMain > .dashCard {
  color: #000;

  box-shadow: 0px 4px 4px 0px rgba(38, 50, 56, 1);
  margin: 2rem;
  /* margin-top: 6rem; */
  height: 81vh;
  border-radius: 25px;
  overflow-x: scroll;
  overflow-y: hidden;

  display: flex;
  justify-content: center;
}
.default {
  margin-top: 2rem;
  padding: 1rem;
  height: 85%;
  width: 80%;
  background: linear-gradient(
    247deg,
    #0d3da8 101.29%,
    rgba(182, 203, 252, 0) 105.17%
  );
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.default h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 1rem auto;
}
.default img {
  width: 15rem;
  margin: auto;
  margin: 1rem auto;
}
.dashButton1 {
  background-color: #011c67;
  width: 2rem;
  height: 2rem;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.dashButton2 {
  display: flex;
  width: 10rem;
  height: 2.375rem;
  justify-content: center;
  align-items: center;
  background-color: #011c67;
  margin: 1rem auto;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  cursor: pointer;
}
.dashButton1:hover {
  color: #011c67;
  background-color: white;
}
.dashButton2:hover {
  color: #011c67;
  background-color: white;
  font-weight: 900;
}
.sidebarContain.close {
  margin-left: 50%;
}

#root > div > div.sidebar.close {
  width: 150px !important;
}
#root > div > div.sidebar.close > div.sidebarLogo > li {
  /* margin: 0; */
  margin-left: -8rem;
}
/* #root
  > div
  > div.sidebar.close
  > div.sidebarContain
  > ul
  > li:nth-child(1)
  > img {
  margin-left: 50%;
} */
#root > div > div.sidebar.close > div.sidebarContain > ul > li {
  margin-left: 50%;
}
.toggleButton > .open {
  position: fixed;
  left: 8rem;
  top: 5rem;
}
