.navbarDashboard {
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 5rem;
  /* padding-left: 2rem; */
  /* position: fixed; */
  margin: 0;
}
.dashMainContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.closeButton {
  margin-left: 22rem;
}
.navLinks {
  list-style: none;
  display: flex;

  margin: 0;
  padding: 0;

  width: 100%;
  justify-content: space-evenly;
}

.navLinks li {
  margin-right: 1rem;
  height: auto;
}

.blueButton {
  font-family: Poppins;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;

  color: #fff;
  border: none;
  width: 7rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  background: #1d62fe;
  cursor: pointer;
  margin: auto;
}

.blueButton:hover {
  background-color: blue;
  color: silver;
}

.searchBar {
  display: flex;
  align-items: center;
  border-radius: 1.25rem;
  background: #1d62fe;
  border-radius: 20px;
}

.searchBar input {
  font-family: Poppins;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  background-color: #1d62fe;
  text-align: center;
  color: #fff;
  border: none;
  width: 6rem;
  border: none;
  outline: none;
}

.searchIcon {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  margin-left: -1rem;
  background: url("../../assets/Search.svg") center/cover;
}
.searchBar input::placeholder {
  color: #fff; /* Set the color of the placeholder text */
}
#root > div > div.dashMainContainer > nav > ul > li > div > div > img {
  width: 4rem;
  height: 4rem;
  margin: auto;
  margin-top: 1.2rem;
}
#root > div > div.dashMainContainer > nav > ul > li > div > div {
  margin: 0;
}
#root > div > div.dashMainContainer > nav > ul > li.searchBar {
  height: 2.5rem;
  margin: auto 1rem;
}
.searchResult {
  position: absolute;
  top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  left: 82rem;
  overflow-y: auto;
  width: 5rem;
  height: 12rem;
}
.searchResult > .tempCard {
  width: 6rem !important;
  height: 3rem !important;
}
.searchResult::-webkit-scrollbar {
  width: 0;
}

.searchResult {
  scrollbar-width: none;
  background-color: #fff;
  overflow-x: hidden;
}
.hidden {
  display: none;
}
#root > div > div.dashMainContainer > nav > div > h3 {
  color: #1d62fe;
}
