#root
  > div
  > div.dashMainContainer
  > div.dashMain
  > div
  > div
  > div
  > div
  > div
  > div
  > input {
  outline: none;
  border-radius: 5px;
  padding: 0 1rem;
  width: 105%;
  z-index: 100000;
}
.cardContainer {
  margin: 1rem 0;
}
