.profileImgContainer {
  position: relative;
  display: inline-block;
  height: 7rem;
}

.profileImg {
  margin-top: 2vw;
}

.profileImg img {
  width: 50%;
  height: 6rem;
  width: 6rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -2rem;
  /* transition: transform 0.3s, filter 0.3s; */
}

/* .profileImg.hovered {
  transform: scale(1.1);
   filter: blur(3px); 
} */

/* .editButton {
  position: absolute;
  margin: auto;
  padding: 5%;
  cursor: pointer;
  margin-top: 2vh;

  margin-left: 1vw;
  filter: none;
} */

#fileInput {
  display: none;
}

.changePhotoButton {
  margin-top: 1rem;
  font-size: 1rem;
  font-family: Poppins;
  /* height: 1.8rem; */
  /* width: 7rem; */
  padding: 0.2rem 1rem;
  cursor: pointer;
  background-color: #2047ce;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
}

.changePhotoButton:hover {
  background-color: white;
  color: #2047ce;
  border: 1px solid #2047ce;
}

/* #root
  > div.mainContainerProfile
  > div:nth-child(1)
  > div.profileImgContainer
  > input {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 50;
  height: 50rem;
}

#root
  > div.mainContainerProfile
  > div:nth-child(1)
  > div.profileImgContainer
  > input:hover {
  background-color: #0056b3;
} */

.buttonContainerProfile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
#root > div.mainContainerProfile > div:nth-child(1) > div.infoContainer {
  margin-top: 1rem;
}
