.profileImgContainer {
  position: relative;
  display: inline-block;
}

.profileImg {
  
  margin-top: 2vw;
  border-radius: 50%;
}

.profileImg img {
  width: 50%;

  object-fit: cover;
  border-radius: 50%;
  /* transition: transform 0.3s, filter 0.3s; */
}

.profileImg.hovered {
  transform: scale(1.1);
  /* filter: blur(3px); */
}

.editButton {
  position: absolute;
  margin: auto;
  padding: 5%;
  cursor: pointer;
  margin-top: 2vh;
  margin-left: 1vw;
  filter: none;
}

.editButton img {
  width: 4vw;
}
