.homeNavbar {
  display: flex;
  justify-content: space-between;
  color: black;
  align-items: center;
  width: 86vw;
}
.navContainer {
  width: 100vw;
  height: 5vh;
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw 0;
  font-family: "Poppins", sans-serif;
}
.homePageIcon {
  width: 15vw;
  height: 10vh;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 1.3vw;
  font-family: "Poppins", sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(125, 125, 234, 0.9);
  min-width: 200px;
  color: white;
  box-shadow: 0 8px 16px 0 blue;
  z-index: 1;
  font-size: 1.2vw;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  padding: 1vw;
}

.dropdown-content li:hover {
  background-color: white;
  color: #001b66;
}

a {
  text-decoration: none;
  margin-right: 2rem;
  cursor: pointer;
  color: #001b66;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.5rem;
}

.signUpButton {
  border-radius: 25px;
  background-color: #2047ce;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid #001b66;

  font-family: Poppins;

  width: 12.5rem;
  padding: 0.75rem 1.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.signInButton {
  font-family: Poppins;

  margin-right: 1vw;
  cursor: pointer;

  border: 1px solid #001b66;
  background-color: white;
  padding: 0.75vw 1.75vw;
  color: #001b66;
  border-radius: 2.1875rem;
  border: 2px solid #001b66;
  font-size: 1rem;
  font-weight: 600;
}
.signInButton:hover {
  background-color: #001b66;
  color: white;
}
.signUpButton:hover {
  background-color: white;
  color: #2047ce;
}

.containerHome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

.centeredContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200vh 0.5fr 1fr;
  text-align: center;
  /* row-gap: 10vw; */
  width: 100vw;
  height: auto;
}

.homePageIcon {
  display: flex;
  gap: 1vw;
}
.dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #001b66;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
}
#root > div.containerHome > div > nav > div.homePageIcon > h1 {
  font-size: 1.5vw;
  font-weight: 900;
  margin: auto 1vw;
  font-family: Poppins;
  font-weight: 700;
}
#root > div.containerHome > div > nav > div.homePageIcon > img {
  margin: auto;
  width: 4.3vw;
  height: 4.3vw;
}

.part {
  display: block;
  color: white;
  font-size: 2vw;
  width: 100vw;
  margin-top: 12vh;
}
.part1 {
  background-color: #092a84;
  height: 120vh;
}

#root > div.containerHome > div > div.part.part1 > div:nth-child(1) > button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
  height: 10vh;
  font-size: 1vw;
  background-color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -80vh;
  z-index: 0;
  font-weight: 600;
}
#root > div.containerHome > div > div.part.part1 > div:nth-child(1) {
  padding-top: 2vh;
  text-align: center;
}
.img1 {
  margin-top: 10vh;
  height: 120vh;
  width: 120vh;
}
/* functions */
.get {
  color: black;
  margin-top: -15vh;
}

.featureMainContainer {
  color: black;
  display: grid;
  grid-template-columns: 35vw 35vw;
  grid-row: 35vw 35vw;
  row-gap: 2vw;
  column-gap: 10vw;
  word-wrap: break-word;
  margin-left: 10%;
  font-size: 1.2vw;
  color: #407bff;
}
.featureImage {
  margin-top: 1vh;
  float: left;
  height: 8vh;
}
.part2 {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  font-size: 1vw;
  column-gap: 1rem;
  margin: 9rem 1vw 0 1vw;
}
.img2 {
  width: 45vw;
  height: 35vw;
}
.img2Text {
  margin: auto;
}
#root
  > div.containerHome
  > div
  > div.part.part1
  > div:nth-child(2)
  > div.get
  > h2 {
  color: #011c67;
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.66rem;
}
#root
  > div.containerHome
  > div
  > div.part.part1
  > div:nth-child(2)
  > div.get
  > p {
  color: #407bff;
  text-align: center;
  font-family: Work Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}
#root > div.containerHome > div > div.part.part2 > div.img2Text > h1 {
  color: #011c67;
  font-family: Poppins;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
}
#root > div.containerHome > div > div.part.part2 > div.img2Text > h2 {
  color: #407bff;
  font-family: Poppins;
  font-size: 2.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#root > div.containerHome > div > h1 {
  margin-top: 1vh;
  color: #011c67;

  font-family: Inter;
  font-size: 2.2vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.66rem; /* 177.333% */
}

.part3 {
  margin-top: -35rem;
  background-color: #092a84;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  height: 33rem;
}
.member1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.member1 img {
  width: 100%;
  margin-top: -5vh;
}
.member2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Inter;
  font-size: 1.2rem;
  row-gap: 2rem;
  font-style: normal;
  font-weight: 600;
}
.member2 button {
  border: none;
  font-size: 1rem;
  cursor: pointer;
  width: 14.6875rem;
  height: 3.5rem;
  padding: 1rem 4.3125rem;
  border-radius: 2.5rem;
  background: #e0e0e0;
  color: black;
}
.member3 {
  margin-right: 3rem;
}
.member3 li {
  padding: 1rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: space-between;
}

#root
  > div.containerHome
  > div
  > div.part.part3
  > div.member3
  > ul
  > li
  > span:nth-child(2) {
  color: black;
  width: 12rem;
  padding: 0.625rem;

  border-radius: 0.25rem;
  background: #fff;
}
#root
  > div.containerHome
  > div
  > div.part.part3
  > div.member3
  > ul
  > li
  > span:nth-child(1) {
  width: 9.375rem;
  padding: 0.625rem;

  border-radius: 0.25rem;
  width: 15vw;
  min-width: 10vw;
}
.part4 {
  display: grid;
  grid-template-columns: 45vh 45vh;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 5vw;
  row-gap: 5vw;
  justify-content: center; /* Center along the x-axis */
  align-items: center; /* Center along the y-axis */
  width: 100%;
}

#root > div.containerHome > div > div.part.part4 > div > h1 {
  color: #232426;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6875rem;
  letter-spacing: 0.05625rem;
  text-transform: uppercase;
}
#root > div.containerHome > div > div.part.part4 > div > p {
  color: #232426;
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}
.card {
  border: 2px solid #8692a6;
  padding: 10px;
}
.part5 {
  display: flex;
  justify-content: center;

  align-items: center;
  gap: 4rem;
}
.workContainer {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  width: 80%;
  padding: 2rem;
  border: 3px solid #011c67;
}
.workContainer div {
  color: #407bff;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.625rem;
}
.LetDoThis {
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2.1875rem;
  background: #001b66;
}
#root > div.containerHome > div > div.part.part5 > div > div:nth-child(2) {
  display: flex;
  justify-content: center;
}
.LetDoThis:hover {
  background-color: blue;
}
.part6 {
}
.part6 h1 {
  color: #011c67;
  font-family: Poppins;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
}
.part6 p {
  color: #407bff;
  text-align: center;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
}
.part6 button {
 color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 26.625rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 0.375rem;
  background: #011c67;
}

.part6 button:hover {
  background-color:  #022484;
}
