.homeNavbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  margin: 1vw 0;
  width: 86vw;
}

.homeNavbarIcon {
  display: flex;
  align-items: center;
}

.homePageIcon {
  width: 15vw;
  height: 10vh;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 1.3vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(125, 125, 234, 0.9);
  min-width: 200px;
  color: white;
  box-shadow: 0 8px 16px 0 blue;
  z-index: 1;
  font-size: 1.2vw;
  font-weight: 500;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  padding: 1vw;
}

.dropdown-content li:hover {
  background-color: white;
  color: #001b66;
}

a {
  width: 4vw;
  text-decoration: none;
  margin-right: 1.2vw;
  color: #001b66;
  font-family: Poppins;
  font-size: 1.3vw;
  font-weight: 500;
}

.signUpButton {
  border-radius: 25px;
  background-color: #2047ce;
  color: #fff;
  cursor: pointer;
  font-size: 1.2vw;
  font-weight: 600;
  border: 1px solid #001b66;
  width: 13vw;
  padding: 0.75vw 1.75vw;
  font-family: Poppins;
}
.signInButton {
  font-family: Poppins;
  border-radius: 25px;
  padding: 0.75vw 1.75vw;
  margin-right: 0.8vw;
  cursor: pointer;
  font-size: 1.2vw;
  font-weight: 600;
  border: 1px solid #001b66;
  background-color: white;
  color: #001b66;
}
.signInButton:hover {
  background-color: #001b66;
  color: white;
}
.signUpButton:hover {
  background-color: white;
  color: #2047ce;
}

.containerHome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.centeredContent {
  text-align: center;
  width: 87%;
  height: 14vh;
}

.homePageIcon {
  display: flex;
  gap: 1vw;
}
.dropdown-button {
  background: none;
  border: none;
  width: 4vw;
  cursor: pointer;
  color: #001b66;
  margin: 1vh 2vw;
  padding: auto;
  align-items: center;
  font-family: Poppins;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
}
#root > div.containerHome > div > nav > div.homePageIcon > h1 {
  font-size: 1.5vw;
  font-weight: 900;
  margin: auto 1vw;
  font-family: Poppins;
}
#root > div.containerHome > div > nav > div.homePageIcon > img {
  width: 4.3vw;
  height: 4.3vw;
}

.part {
  display: block;
  margin-left: -6vw;
  color: white;
  font-size: 2vw;
  background-color: #092a84;
  width: 100vw;
}
.part1 {
  background: linear-gradient(to bottom, #092a84 20%, white 90%);
}
