.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 85vh;
}

body {
  overflow: hidden;
  margin: 0;
  font-size: 1.2vw;
  font-family: "Inter", sans-serif;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
  padding: 1%;
  min-height: 100vh;
  align-items: left;
}

.progress-bar {
  margin-top: 10vh;
  display: flex;
  align-items: center;
}

.circle {
  width: 5%; /* Adjust size using percentages */
  height: 20px;
  border: 1px solid #b5b1b1;
  border-radius: 50%;
}

.c1 {
  background-color: #2047ce;
}

.line {
  flex: 1;
  height: 2px;
  background-color: #b5b1b1;
}

.left {
  display: flex;
  justify-content: center;
  min-height: 110vh;
  width: 50vw;
  background-color: #011c67;
}

.right {
  margin: 0 auto;
  width: 60%;
}

.input {
  height: 5.5vh;
  width: 98%;
}

.entry {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  padding: 10px;
  margin: 10% 0;
  background-color: #011c67;
  color: #fff;
  border: none;
  width: 100%;
  height: 8vh;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.5vw;
}

.blue {
  color: #2047ce;
  cursor: pointer;
}

.light {
  color: #8692a6;
}

.signUp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginImage {
  padding: 10%;
  margin: 2vw;
}

.Input {
  width: 100%;
  height: 12vh;
  border-radius: 6px;
  border: 1px;
}

.show {
  background-color: grey;
  color: #fff;
  border: none;

  border-radius: 50%;
  cursor: pointer;
  font-size: 1vw;
  margin-left: -2vw;
  left: 4vw;
  z-index: 1;
}
.emailNumber {
  display: flex;
}
.resetLeft {
  margin-left: -60vw;
}
.resetLeft {
  margin-top: -50vh;
  width: 15%;
}

#numberError,
#emailError,
#nameError {
  display: none;
  font-size: 1vw;
  color: #d61919;
  height: 0.8vh;
}
.error {
  display: none;
  color: #d61919;
  width: 99%;
  height: 12vh;
  font-size: 1vw;
  z-index: 7;
  border-radius: 5px;
  background-color: white;
  padding: 1.5%;
}
#pass {
  color: #d61919;
  display: none;
  height: 0.5vh;
  font-size: 1vw;
  margin-top: -2vh;
}
#passwordStrength {
  color: #d61919;
  font-size: 1vw;
  margin-top: -3vh;
}
.signUp {
  position: fixed;
  width: 30%;
  height: 12vh;
  top: 88%;
  left: 60%;
}

.loginWith {
  display: flex;
  justify-content: space-between;
}

.signUpLine {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  text-align: center;

  color: white;
  font-size: 2vw;
  margin: 10vh 10vw -8vw 10vw;
}
.sic {
  display: block;
  position: relative;
}
span {
  color: blue;
}
.register {
  margin: 0;
}
.sui {
  display: block;
  width: 14vw;
}
.google {
  margin: 0;
  background-color: #2d3748;
  font-size: 1vw;
}
.createPassword {
  display: flex;
  column-gap: 1vw;
}
.createPassword input {
  width: 14vw;
}
.verify {
  margin: 10vh auto;
}
@media only screen and (max-width: 950px) {
  body {
    font-size: 1.8vw;
  }
  .loginContainer {
    row-gap: 0.5vh;
  }
  .Input {
    margin: 1vh 0vh;
    row-gap: 2vw;
  }
  .light,
  .blue {
    font-size: 1.4vw;
  }
  .loginImage {
    padding: 5%;
  }
  .error {
    margin: -10px 0;
    font-size: 2vw;
  }
}
@media only screen and (max-width: 750px) {
  body {
    font-size: 2vw;
  }
  .loginContainer {
    row-gap: 5vh;
  }
  .Input {
    margin: 0vh 0vh;
    row-gap: 1vw;
  }
  .error {
    margin: 1px 0;
    font-size: 2.2vw;
  }
  .light,
  .blue {
    font-size: 1.5vw;
  }
  .show {
    margin-left: -3vw;
  }
  .loginImage {
    padding: 0%;
  }
}
@media only screen and (max-width: 750px) {
  #root {
    overflow: hidden;
    font-size: 3vw;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .loginImage {
    margin-top: 30vh;
    height: 200%;
    width: 80%;
    margin: auto;
    margin-top: 20vh;
  }
  .left {
    min-height: 5%;
    height: 30%;
    width: 100%;
    display: flex;
  }
  .right {
    min-height: 30%;
    max-height: 60%;
    width: 90%;
  }
  .progress-bar {
    margin-top: 14vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1vh;
  }

  .signUp {
    position: relative;
    top: 5vh;
    z-index: 70;
  }
  .light,
  .blue {
    font-size: 4vw;
  }
  .input {
    height: 4vh;
    margin: 0;
  }
  .entry {
    row-gap: 1px;
  }
  .loginContainer {
    row-gap: 0.1vh;
  }
  .Input {
    height: 8vh;
    margin: 0;
  }
  .container {
    height: 100vh;
  }
  .button {
    margin-top: 3vh;
    font-size: 4vw;
  }

  .show {
    margin-left: -7vw;
    font-size: 3.5vw;
  }
  .error {
    margin: 0.5vh 0;
    font-size: 13px;
    width: 88vw;
  }
  .signUp {
    top: 1vh;
    width: 100%;
    left: 1vw;
  }
}
