#root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 85vh;
}

body {
  overflow: hidden;
  margin: 0;
  font-size: 1.2vw;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 48vw;
  height: 100vh;
  padding: 2%;
  align-items: left;
  margin: 5% 10%;
}
.progress-bar {
  margin: 10% 0;
  display: flex;
  align-items: center;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #2047ce;
  border-radius: 50%;
}

.line {
  flex: 1;
  height: 2px;
  background-color: #b5b1b1;
}
.left {
  margin: 0;
  height: 100vh;
  background-color: #011c67;
}

.right {
  margin: 0 auto;
  width: 30vw;
}

.input {
  height: 40px;
  width: 100%;
}

.entry {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  background-color: #011c67;
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  margin: 15px 0;
}

.blue {
  color: blue;
}

.light {
  font-size: 1.4vw;
  color: #8692a6;
}

.signUp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginImage {
  padding: 5%;
}
