.mainContainerProfile {
  display: grid;
  grid-template-columns: 2fr 4fr;
}
.mainContainerProfile > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContainerProfile > div:nth-child(1) {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #011c67;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-weight: 500;
  line-height: 29px;
  color: white;
  text-align: left;
}
.infoContainer {
  margin-top: 1rem;
}
.mainContainerProfile div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}
.aboutContainer {
  color: #455a64;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#root > div.mainContainerProfile > div:nth-child(1) > div.infoContainer > h2 {
  color: #fff;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.profileButton {
  padding: 5px;
  margin-bottom: 1rem;
  width: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: normal;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  background: #2047ce;
  color: #fff;
}
#root > div.mainContainerProfile > div:nth-child(1) > div.infoContainer > h1 {
  margin: 1rem auto;
}
.profileButton:hover {
  color: #2047ce;
  background-color: white;
  border: 1px solid #2047ce;
}

#root > div.mainContainerProfile > div:nth-child(1) > h1 {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#root > div.mainContainerProfile > div:nth-child(1) > h2 {
  color: #fff;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0.8vh;
}
#root
  > div.mainContainerProfile
  > div:nth-child(1)
  > div.infoContainer
  > h2:hover {
  color: #8692a6;
  cursor: pointer;
}
#root > div.mainContainerProfile > div:nth-child(2) > div > div {
  width: 35rem;
  margin-bottom: 0.5rem;
}
#root > div.mainContainerProfile > div:nth-child(2) > div > div > input {
  height: 3.5rem;
  border-radius: 0.375rem;
  border: 1.5px solid #8692a6;
  outline-style: none;
}
#root > div.mainContainerProfile > div:nth-child(2) > div > h1 {
  color: #455a64;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#root > div.mainContainerProfile > div:nth-child(2) > div > div > label {
  color: #696f79;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}

#root > div.mainContainerProfile > div:nth-child(2) > div > div {
  margin-top: 0.01rem;
}
.aboutContainer {
  margin-top: 5rem;
}
#root > div.mainContainerProfile > div:nth-child(1) > div.infoContainer > h1 {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#root > div.mainContainerProfile > div:nth-child(2) > div.changeEdit {
  margin: 2rem 0;
}

#root > div.mainContainerProfile > div:nth-child(1) > div.profileImgContainer {
  margin-top: 5rem;
}

.errorContainerProfile {
  height: 1rem;
  margin-top: 0;
}
.errorProfile {
  margin-top: -1rem;
  font-size: 0.8rem;
  width: 90%;
  text-align: left;
  color: brown;
}
