#root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 90%;
  margin: 5% 10%;
}
.progress {
  align-items: center;
  width: 60%;
  height: 4%;
  -webkit-mask: radial-gradient(circle closest-side, #ba1313 80%, #0000) 0 0/25%
      95%,
    linear-gradient(#000 0 0) center/calc(75% - 12px) calc(60% - 12px) no-repeat;

  background: linear-gradient(#25b09b 0 0) 0/0% no-repeat #ddd;
}
